/* RESET */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN LAYOUT */
.home-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* SIDEBAR */
.sidebar {
    width: 30%;
    min-width: 320px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    background: white;
}

/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.logout-btn {
    background: #ff4d4d;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* SEARCH */
.search-box {
    position: relative;
}

.search-input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
    width: 100%;
}

/* SEARCH RESULTS */
.search-results {
    position: absolute;
    background: white;
    width: 100%;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
}

.search-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    cursor: pointer;
}

.search-item:hover {
    background: #f5f5f5;
}

.search-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;

}


.notification-wrapper {
    position: relative;
}

.bell-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.badge {
    position: absolute;
    top: -5px;
    right: -8px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.notification-dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    width: 250px;
    background: white;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
    z-index: 100;
}

.notification-item {
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.notification-item:hover {
    background: #f5f5f5;
}